.contact-w {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 280px;
  width: 300px;
  background-color: var(--primaryBoxTheme);
  border-radius: 10px;
}

.contact-w>span {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #eee;
  padding-top: 5px;
}

.link-w {
  display: flex;  
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  height: 100%;
  width: 100%;
  row-gap: 20px;
  padding: 0px 10px;
}

.linkCollection {
  display: flex;
  justify-content: space-between;
}

.linkIcon {
  transition: all 0.5s ease;

}

.linkIcon:hover {
  transition: all 0.5s ease;
  transform: scale(1.5);
  cursor: pointer;
}


/* Responsive Screen Adjustment */
@media (max-width: 600px) {
  .contact-w {
    height: 290px;
    width: 200px;
  }

  .link-w {
    font-size: 0.75rem;
    padding: 0px 5px;
  }
}