.friend-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  text-transform: capitalize;
  padding-top: 10px;
}

.friend-deleteBtn {
  height: auto;
  width: auto;
  background-color: transparent;
  border: none;
}